<!--
Author: Thi Khanh Uyen Tran
ID: 110234806
Email: traty145@mymail.unisa.edu.au
-->
<link rel="stylesheet" href="~/Content/Site.css">
<div class="toggle-wrapper">
    <em>Change Mode</em>
    <label class="switch">
        <input type="checkbox" id="checkbox" />
        <span class="slider round" id="theme"></span>
    </label>
</div>
